@model IEnumerable<Quotably.Models.BookQuoteListItem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Quotably</h1>
    <p>v1.0 Quotes application, currently for books only.
    <br />
    Upcoming features:
        <ol>More kinds of quotes</ol>
        <ol>Better views</ol>
        <ol>A working forum</ol>
        <ol>Rating systems</ol>
    </p>
</div>

<p style="text-align:center";>
    @Html.ActionLink("Add New Quote", "Create") &emsp;
    @Html.ActionLink("Books", "Index", "Book") &emsp;
    @Html.ActionLink("Authors", "Index", "Author")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookQuoteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookQuoteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookQuoteID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookQuoteID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookQuoteID })
                </td>
            </tr>
        }

    </table>*@
<div class="container">
    <div class="well well-sm">
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list"></span>List View
            </a>
            <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid View
            </a>

        </div>
    </div>
    <div id="products" class="row list-group">
        <ul class="foo">
            @foreach (var item in Model)
            {
                <li class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <h1>"</h1>
                        <h4 class="group inner list-group-item-heading">
                            @item.Content
                        </h4>
                        <h1 style="text-align: right">"</h1><hr />
                        <div class="caption">
                            @Html.DisplayFor(modelItem => item.BookID)
                            @Html.DisplayFor(modelItem => item.AuthorID)
                            <p class="group inner list-group-item-text">
                                Lesson description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });
    </script>
}
